<div class="container">

  <div class="card mt-3"  *ngFor='let hero of array1'>
    <div class="card-body">
      <div class="row">
        <div class="col-9">
            <div class="row">
                <div class="col-6">
              <img src="{{hero.file}}" class="background "></div>
              <div class="col-6 mt-1 tagstyle "><h4>{{hero.requestfrom}}</h4><i class="fas fa-eye" (click)="viewdetails(hero)">View</i></div>
              </div>

      </div>
      <div class="col-3"></div>
      </div>

    </div>
    
     

  </div>
  <div class="card mt-3"  *ngFor='let hero of array3'>
    <div class="card-body">
      <div class="row">
        <div class="col-9">
            <div class="row">
                <div class="col-6">
              <img src="{{hero.requesttofile}}" class="background "></div>
              <div class="col-6 mt-1 tagstyle "><h4>{{hero.requestto}}</h4><i class="fas fa-eye" (click)="viewdetails1(hero)">View</i></div>
              </div>

      </div>
      <div class="col-3"></div>
      </div>

    </div>
    
     

  </div>

  <div class="card card1" *ngFor="let hero of array5| paginate: {itemsPerPage:1, currentPage:u}">
    <div class="card-body">
      <div class=""><img src="{{hero.file}}" class="rounded" width="200px" height="200px"> </div>

      <p class="sty8">{{hero.firstname|uppercase}}</p>
      <button type="button" class="btn btn-primary sty7" (click)="request(hero)" value="Requested"
        #id1>ADDFRIEND</button>

    </div>
  </div>
  <pagination-controls (pageChange)="u=$event"></pagination-controls>

</div>
