body {
    margin: 0; 
    /* font-family: sans-serif !important;     */
  }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 24px;
    height: 2px;
    background-color: #25d1c8 !important;
  }
  .img11{
    width: 116px;
    margin-left: 73px;
    height: 105px;
  }
  .spa{
    color: black;
    font-size: 16px;
  }
  .imagebackground{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

  }
  .rounded{
    width: 90px;
    border: 1px solid #3a3a3a;
    box-shadow: 0px 1px 2px 0px;
    height: 90px;
  }
  .bgcolor:hover{
    background-color: white;

  }
  .nav {
    font-size: 15px;
  }
  .namestyle{
   
    font-size: 30px;
    color: black;
  }
  .nav-link:focus{
    background: lightblue;
    font-weight: 500;
    color: #033C73;
  }
  .menuItems{
    background: rgba(173, 216, 230, 0.2);
    /* border-radius: 10px;
    overflow: hidden; */
  }
  .menuItems i{
    margin-right: 10px;
  }
  .nav-link:hover{
    font-weight: 500;
    /* background: rgba(173, 216, 230, 0.4); */
  }
  .badge{
    width: 20px;
  }
 
  /* .nav-link:hover{
    background: red;
  } */